.App {
    /* text-align: center; */
}

.App-logo {
    pointer-events: none;
    position: absolute;
    opacity: 20%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 40s linear;
    }
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-logos {
    position: absolute;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.SignUp {
    display: flex;
    flex-direction: column;
}
.SignIn {
    display: flex;
    flex-direction: column;
}

.App-italic {
    text-align: center;
    opacity: 40%;
    font-size: 2em;
    font-style: oblique;
    font-stretch: ultra-expanded;
    text-decoration: underline;
    transform: skew(-15deg);
    cursor: pointer;
}
.App-italic:hover {
    opacity: 80%;
}
