.LogosWrapper {
    position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
    .LogosWrapper {
        animation: LogosWrapper-spin infinite 40s linear;
    }
}
/* @media (prefers-reduced-motion: no-preference) {
    .Image {
        animation: Image-spin infinite 10s linear;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .Logos {
        animation: Logos-spin infinite 20s linear;
    }
} */
@keyframes LogosWrapper-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Image {
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    width: 48px;
    height: 48px;
    transform-origin: 50% 50%;
    transform: translate(10em) rotate(90deg) scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border: solid 2px black;
    transition: 0.3s;
}

.Image:hover {
    
    transform: translate(10em) rotate(90deg) scale(2);
    -webkit-transform: translate(10em) rotate(90deg) scale(2);
    -moz-transform: translate(10em) rotate(90deg) scale(2);
    -ms-transform: translate(10em) rotate(90deg) scale(2);
    -o-transform: translate(10em) rotate(90deg) scale(2);
}
